@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

.move-menu-off {
  right: -400px;
}

.move-menu-on {
  right: 10px;
}

.show-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blur-when-menu-o {
}
