@import "tailwindcss";
@plugin 'tailwind-scrollbar';

@theme {
  --font-nunito: Nunito, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

:root {
  @apply font-nunito bg-zinc-950 text-white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
